In [12]:
import pandas as pd
import numpy as np
import zipfile
pd.set_option('display.max_columns', None)

In [13]:
zf = zipfile.ZipFile('data/data.zip')

In [14]:
df = pd.read_json(zf.open('data.json'))

In [15]:
df['acct_type'].value_counts()

premium             12373
fraudster_event       851
fraudster             437
spammer_limited       218
spammer_warn          144
tos_warn               91
spammer_noinvite       84
tos_lock               77
locked                 54
fraudster_att           5
spammer_web             2
spammer                 1
Name: acct_type, dtype: int64

In [18]:
df['fraud'] = df['acct_type'].apply(lambda x: True if 'fraud' in x else False)

In [19]:
df['fraud'].value_counts()

False    13044
True      1293
Name: fraud, dtype: int64

In [26]:
df[df['fraud']==True].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1293 entries, 0 to 14336
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   acct_type           1293 non-null   object
 1   approx_payout_date  1293 non-null   int64
 2   body_length         1293 non-null   int64
 3   channels            1293 non-null   int64
 4   country             1293 non-null   object
 5   currency            1293 non-null   object
 6   delivery_method     1281 non-null   float64
 7   description         1293 non-null   object
 8   email_domain        1293 non-null   object
 9   event_created       1293 non-null   int64
 10  event_end           1293 non-null   int64
 11  event_published     1199 non-null   float64
 12  event_start         1293 non-null   int64
 13  fb_published        1293 non-null   int64
 14  gts                 1293 non-null   float64
 15  has_analytics       1293 non-null   int64
 16  has_header          519 non-null    float64
 17  has_logo            1293 non-null   int64
 18  listed              1293 non-null   object
 19  name                1293 non-null   object
 20  name_length         1293 non-null   int64
 21  num_order           1293 non-null   int64
 22  num_payouts         1293 non-null   int64
 23  object_id           1293 non-null   int64
 24  org_desc            1293 non-null   object
 25  org_facebook        1238 non-null   float64
 26  org_name            1293 non-null   object
 27  org_twitter         1238 non-null   float64
 28  payee_name          1293 non-null   object
 29  payout_type         1293 non-null   object
 30  previous_payouts    1293 non-null   object
 31  sale_duration       1175 non-null   float64
 32  sale_duration2      1293 non-null   int64
 33  show_map            1293 non-null   int64
 34  ticket_types        1293 non-null   object
 35  user_age            1293 non-null   int64
 36  user_created        1293 non-null   int64
 37  user_type           1293 non-null   int64
 38  venue_address       1293 non-null   object
 39  venue_country       923 non-null    object
 40  venue_latitude      923 non-null    float64
 41  venue_longitude     923 non-null    float64
 42  venue_name          923 non-null    object
 43  venue_state         923 non-null    object
 44  fraud               1293 non-null   bool
dtypes: bool(1), float64(9), int64(18), object(17)
memory usage: 455.8+ KB

In [46]:
drop_cols = ['has_header', 
             'venue_address',
             'venue_country',
             'venue_latitude',
             'venue_longitude',
             'venue_name',
             'venue_state',
             'sale_duration']
for col in drop_cols:
    try:
        df.pop(col)
    except:
        continue

look_later = ['acct_type',
              'description',
              'name',
              'org_desc',
              'org_name',
              'payee_name',
              'previous_payouts',
              'ticket_types', # grab cost out of ticket types
              'user_created',
              'email_domain'] # maybe create dummies for anonymous email domains
for col in look_later:
    try:
        df.pop(col)
    except:
        continue


df.dropna(inplace=True)

In [ ]:
df['listed'] = df['listed'].apply(lambda x: 1 if 'y' else 0)

In [45]:
df['email_domain'].value_counts()[:20]

gmail.com                   3046
yahoo.com                    756
hotmail.com                  391
aol.com                      188
live.com                      77
me.com                        75
ymail.com                     68
comcast.net                   60
generalassemb.ly              58
kineticevents.com             51
hotmail.co.uk                 47
yahoo.co.uk                   47
improvboston.com              46
sippingnpainting.com          39
claytonislandtours.com        37
racetonowhere.com             35
greatworldadventures.com      31
live.fr                       30
yahoo.ca                      30
shaw.ca                       28
Name: email_domain, dtype: int64

In [48]:
dummies = ['country',
           'currency',
           'payout_type']

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14104 entries, 0 to 14336
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   approx_payout_date  14104 non-null  int64
 1   body_length         14104 non-null  int64
 2   channels            14104 non-null  int64
 3   country             14104 non-null  object
 4   currency            14104 non-null  object
 5   delivery_method     14104 non-null  float64
 6   event_created       14104 non-null  int64
 7   event_end           14104 non-null  int64
 8   event_published     14104 non-null  float64
 9   event_start         14104 non-null  int64
 10  fb_published        14104 non-null  int64
 11  gts                 14104 non-null  float64
 12  has_analytics       14104 non-null  int64
 13  has_logo            14104 non-null  int64
 14  listed              14104 non-null  int64
 15  name_length         14104 non-null  int64
 16  num_order           14104 non-null  int64
 17  num_payouts         14104 non-null  int64
 18  object_id           14104 non-null  int64
 19  org_facebook        14104 non-null  float64
 20  org_twitter         14104 non-null  float64
 21  payout_type         14104 non-null  object
 22  sale_duration2      14104 non-null  int64
 23  show_map            14104 non-null  int64
 24  user_age            14104 non-null  int64
 25  user_type           14104 non-null  int64
 26  fraud               14104 non-null  bool
dtypes: bool(1), float64(5), int64(18), object(3)
memory usage: 2.9+ MB